<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/app/css/app.css">
    <link href='http://fonts.googleapis.com/css?family=Lovers+Quarrel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <title>Upload</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2 class="form-title">Upload Video</h2>
          <hr>
          <p>Videos are uploaded asynchronously, so check back in a few minutes to see if it uploaded.<p>
        </div>
        <div class="col-md-6 col-md-offset-3 text-center">
          <form action="/upload" class="form-horizontal" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label class="control-label col-sm-2">Title</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="title" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">Video</label>
              <div class="col-sm-10">
                <input type="file" name="file" required>
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">Upload!</button>
          </form>
          <p>OR</p>
          <a href="/" class="btn btn-block btn-danger">Go Back</a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/vendor/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/vendor/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="app/js/app.js"></script>
  </body>
</html>

